02-reshaping-concordance.tex
02-reshaping.log
02-reshaping.nav
02-reshaping.snm
02-reshaping.synctex.gz
02-reshaping.tex
02-reshaping.toc
02-reshaping.vrb
cache
04-more-ddply-concordance.tex
04-more-ddply.log
04-more-ddply.nav
04-more-ddply.snm
04-more-ddply.synctex.gz
04-more-ddply.tex
04-more-ddply.toc
04-more-ddply.vrb
03-ddply-intro-concordance.tex
03-ddply-intro-old.pdf
03-ddply-intro.log
03-ddply-intro.nav
03-ddply-intro.snm
03-ddply-intro.synctex.gz
03-ddply-intro.toc
03-ddply-intro.vrb
03-r-format/code/2-dplyr_files/