1-intro.r
1-intro.r~
3-Basics.R
4-models.r
4-models.r~
Basics.R
Day1-2Basics.R
Day1-3Vectors.R
Day1-4DataStructures.R
Day1-5ObjectsPackages.R
Day1.r
Day1YourTurn.R
Rprogramming
airfare.r
graphics-class.r
graphics-complete.r
plyr-class.r
plyr-complete.r
setup.R
